body { 
    font-family: sans-serif; 
    text-align: center; 
    margin-top: 50px; 
}

#data-container {
    border: 2px solid #007BFF;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    font-size: 1.5em;
    background-color: #f8f9fa;
}


#last-update { 
    font-size: 0.8em; 
    color: #6c757d; 
}